main {
	display: block;
}

main section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
	". info ."
	"text text text";
}

.info-col {
	margin: 2px 0px;
}

.text {
	grid-area: text;
	margin: 0px 10px;
}

.title {
	grid-area: info;
	text-align: center;
	font-size: 36px;
}