* {
	padding: 0;
	margin: 0;
	font-family: calibri;
}



/*------------header------------*/
h1 {
	text-align: center;
	font-size: 125px;
	grid-area: naam;
	margin: auto 0;
}
.img {grid-area: logo;}
.site-logo {height: 145px;}
.top {
	top: 0;
	color: #23001E;
	display: grid;
	grid-template-columns: 175px 1fr 1fr 300px;
	grid-template-areas: "logo naam naam info";
	border: 1px solid black;
	position: fixed;
	height: 150px;
	width: 85%;
	border-radius: 0 0 300px 0;
	background: #FFBA49;
}
.info {
	grid-area: info;
	display: block;
	border-radius: 300px 0 0 300px 0;
	margin-right: 20px;
}.info p {
	margin-top: 10px;
	font-size: 14pt;
}

/*------------sidebar------------*/

.sidebar {
	top: 0;
	border: 1px solid black;
	border-top: none;
	margin-top: 151px;
	position: fixed;
	width: 175px;
	height: 100%;
	background: #FFBA49;
	overflow: hidden;
}
.sidebar a {
	border: 1px solid black;
	margin-top: 2px;
	text-decoration: none;
	padding: 5px;
	display: block;
	width: 100%;
	color: #23001E;
	background: #FFC96F;
	font-size: 15pt;
	font-weight: bold;
	letter-spacing: 1px;
}
.sidebar a:nth-child(1) {
	margin: 0;
}
a.active {
	background: #FFAE28;
}
a:hover {
	background: #FFAE28;
	cursor: pointer;
}
.img:hover {background: none; cursor: pointer;}


/*------------Main content------------*/


main {
	margin-top: 150px;
	margin-left: 175px;
	display: grid;
	grid-template-columns: auto 1fr 1fr auto;
	grid-template-rows: auto auto 1fr auto;
	column-gap: 3px;
	grid-row-gap: 3px;
	grid-template-areas:
	". . . ."
	"happy-hour happy-hour happy-hour happy-hour"
	". col1 col2 ."
	". . . .";
}
.column-1 {
	display: inline-block;
	grid-area: col1;
}
.column-2 {
	display: inline-block;
	grid-area: col2;
}


/*------------Footer content------------*/


footer {

}


/*------------clock + happy hour content------------*/


.clock {
	grid-area: clock;
	font-size: 4em;
	margin: auto auto;
	padding-right: 2px;
	border: 2px solid black;
	color: #20A39E;
	text-shadow: 1px 1px 1px black;
}
.invisible {
	display: none;
}

.visible p {
	font-family: Bastion;
	color: red;
	font-size: 50px;
	text-align: center;
}
.visible {
	grid-area: happy-hour;
	display: block;
	overflow: hidden;
	background: linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	/* Firefox */
	background: -moz-linear-gradient(top, #ff3232 0%, #fcf528 16%, #28fc28 32%, #28fcf8 50%, #272ef9 66%, #ff28fb 82%, #ff3232 100%);

	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3232), color-stop(16%,#fcf528), color-stop(32%,#28fc28), color-stop(50%,#28fcf8), color-stop(66%,#272ef9), color-stop(82%,#ff28fb), color-stop(100%,#ff3232));

	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	background-size: 1000%;
	-moz-background-size: 10000%;
	-webkit-background-size: 1000%;	

	/* W3C */
	animation-name: fun-time-awesome;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;

	/* Firefox: */
	-moz-animation-name: fun-time-awesome;
	-moz-animation-duration: 20s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	/* Chrome, Safari */
	-webkit-animation-name: fun-time-awesome;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

@keyframes fun-time-awesome {
	0% {background-position: left top;}
	25% {background-position: left bottom;}
}

@-moz-keyframes fun-time-awesome {
	0% {background-position: left top;}
	25% {background-position: left bottom;}
}

@-webkit-keyframes fun-time-awesome {
	0% {background-position: left top;}
	25% {background-position: left bottom;}
}