main {
	display: block;
}
main section{
	margin: 155px 5px 5px 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/*grid-template-areas:;  */
 }
.producten {
	margin: 0 auto;
	text-align: center;
	display: flex;
	height: auto;
	width: 95%;
	background: white;
	border: 2px solid red/*#23001E*/;
	margin-bottom: 10px;
	border-radius: 5px;
	flex-direction: column;
	justify-content: space-between;
} .producten h3 {
	font-size: 15pt;
	background: #A4A9AD;
	display: block;
	margin: 3px;
}.producten img {
	max-width: 95%;
	margin: auto;
}

@media only screen and (max-width: 855px) {
	main section{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
}
@media only screen and (max-width: 648px) {
	main section{
		display: grid;
		grid-template-columns: 1fr;
	}
	
}