main {
	margin-top: 150px;
	margin-left: 175px;
	display: grid;
	grid-template-columns: auto 1fr 1fr auto;
	grid-template-rows: auto auto auto auto;
	column-gap: 3px;
	grid-row-gap: 3px;
	grid-template-areas:
	"happy-hour happy-hour happy-hour happy-hour"
	". samen-info samen-info ."
	". col1 col2 ."
	". . . .";
}
main section img {max-height: 220px; max-width: 226px;}
.column-1 {
	display: inline-block;
	grid-area: col1;
}
.column-2 {
	display: inline-block;
	grid-area: col2;
}
.samenstellen-info {
	display: inline-block;
	grid-area: samen-info;
}

.gpu {
	display: block;
	width: 100%;
	float: left;
}
.flex {
	width: 100%;
	display: flex;
}
.display-hidden {
	display: none;
}
button {
	margin: auto;
}

/* ------ GPU ------ */
.gpu {
	border: 3px solid red;
	display: block;
	margin: 3px auto;
}
.motherbord {
	border: 3px solid red;
	display: block;
	margin: 3px auto;
}.cpu {
	border: 3px solid red;
	display: block;
	margin: 3px auto;
}.hdd {
	border: 3px solid red;
	display: block;
	margin: 3px auto;
}.ssd {
	border: 3px solid red;
	display: block;
	margin: 3px auto;
}.voeding {
	border: 3px solid red;
	display: block;
	margin: 3px auto;
}