main {
	display: block;
}
main section{
	margin: 155px 5px 5px 5px;
 }.product-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}.producten{
	height: 300px;
	width: 300px;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	border: 3px solid red;
	margin: 10px 0;
}.producten img {
	width: 100%;
	margin: auto 0;
}.producten h3 {
	text-align: center;
	font-size: 15pt;
	background: #A4A9AD;
	display: block;
	text-decoration: none;
	margin: 0;
}
main a {
	text-decoration: none;
	color: black;
}
main a:hover {
	background: none;
	color: green;
}