main {
	margin-top: 150px;
	margin-left: 175px;
	display: grid;
	grid-template-columns: auto 1fr 1fr auto;
	grid-template-rows: auto auto auto 1fr auto;
	column-gap: 3px;
	grid-row-gap: 3px;
	grid-template-areas:
	". . . ."
	"happy-hour happy-hour happy-hour happy-hour"
	". actie actie ."
	". col1 col2 ."
	". . . .";
}

.column-1 {
	display: inline-block;
	grid-area: col1;
}
.column-2 {
	display: inline-block;
	grid-area: col2;
}

.acties {
	grid-area: actie;
	max-height: 80px;
}

.acties p {
	font-family: Bastion;
	color: red;
	font-size: 50px;
	text-align: center;
}

/*----------actie-producten----------*/

.producten {
	margin: 0 auto;
	text-align: center;
	display: flex;
	background: white;
	border: 3px solid #23001E;
	border-radius: 3px;
	flex-direction: column;
	justify-content: space-between;

} .producten h3 {
	font-size: 15pt;
	background: #A4A9AD;
	display: block;
}.producten img {
	height: auto;
	max-width: 95%;
	margin: 3px;
}

/*.producten {
	margin: 0 auto;
	text-align: center;
	display: flex;
	height: auto;
	width: 95%;
	background: white;
	border: 3px solid #23001E;
	margin-bottom: 10px;
	border-radius: 3px;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
} .producten h3 {
	font-size: 15pt;
	background: #A4A9AD;
	display: block;
	margin: 0px;
}.producten img {
	height: auto;
	max-width: 95%;
	margin: 3px;
}

.muizen {
	margin: 0 auto;
	text-align: center;
	display: flex;
	height: auto;
	width: 95%;
	background: white;
	border: 3px solid #23001E;
	margin-bottom: 10px;
	border-radius: 3px;
	flex-direction: column;
	justify-content: space-between;
} .muizen h3 {
	font-size: 15pt;
	background: #A4A9AD;
	display: block;
	margin-left: 1px;
}.muizen img {
	height: 344.725px;
	max-width: 95%;
	margin: 3px;
}*/